* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rb3miawkhmsa{
    width: 1200px;
    height: 630px;
    background: url("../images/405.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}
body {
    background-color: rgb(71, 66, 66);
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


