* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.khmsmia{
    align-content: center;
    width: 900px;
    height: 700px;
    background: url("../images/500.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}
body {
    background-color: black;
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
