<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/frontend/css/styles.css"> <!-- Link to the CSS file -->
    
</head>
<body>
    <h1>Groupie Tracker</h1>
    <div class="bands">
        {{range .}}
        <div class="band-info">
            <h2>{{.Name}}</h2>
            <a href="/Artist/{{.ID}}"> 
                <img src="{{.Image}}" alt="{{.Name}} Image" width="200px">
            </a>
        </div>
        {{end}}
    </div>
</body>
</html>
